.search-component {
    display: grid;
    grid-template-rows: 5vh auto;
    max-height: 30vh;
}

.search-component .search-bar-icon {
    position: relative;
    left: 5vw;
    top: .9vh;
    z-index: 1;
}

.searchbar {
    border: 2px solid var(--init-mint);
    width: 85vw;
    /* added */
    max-width: 320px;

    height: 4vh;
    border-radius: 20px;
    /* text-indent: 10vw; */
    text-indent: 7vw;
    font-size: 18px;
    justify-self: center;
    position: relative;
    right: 3vw;
    margin-top: 1vh;
}